.Shelf {
  /* border: 2px solid red; */
  width: 30%;
  border-left: 5px solid lightblue;
}

.Shelf button {
  font-family: inherit;
  margin-top: 20px;
  padding: 16px 36px;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

.Shelf button:hover {
  background-color: orange;
  color: white;
  transition: 0.5s;
}
